@import '../abstracts/variables';

.primary {
    background-color: $primary-color;
    color: $white-color;
    border: none;   

    &:hover {
        background-color: $primary-secondary-color;
        color: $white-color;
    }

    &:active {
        background-color: $primary-secondary-color;     
        color: $white-color;
    }

    &:visited {
        background-color: $primary-secondary-color;
        color: $white-color;    
    }
}

.secondary {
    background-color: $secondary-color;
    color: $darker-color;
    border: none;

    &:hover {
        background-color: $secondary-secondary-color;
        color: $darker-color;
    }

    &:active {
        background-color: $secondary-secondary-color;
        color: $darker-color;
    }

    &:visited {
        background-color: $secondary-secondary-color;
        color: $darker-color;  
    }
}

.default {
    background-color: $darker-color;
    color: $secondary-color;
    border: none;

    &:hover {
        background-color: $dark-color;
        color: $white-color;
    }

    &:active {
        background-color: $dark-color;
        color: $white-color;
    }

    &:visited {
        background-color: $dark-color;
        color: $white-color;  
    }
}

.info {
    background-color: $info-color;
    color: $white-color;
    border: none;


    &:hover {
        background-color: $info-secondary-color;
        color: $white-color;
    }

    &:active {
        background-color: $info-secondary-color;
        color: $white-color;
    }

    &:visited {
        background-color: $info-secondary-color ;
        color: $white-color;    
    }
}

.danger{
    background-color: $danger-color;
    color: $white-color;
    border: none;


    &:hover {
        background-color: $danger-secondary-color;
        color: $white-color;
    }

    &:active {
        background-color: $danger-secondary-color;
        color: $white-color;
    }

    &:visited {
        background-color: $danger-secondary-color ;
        color: $white-color;    
    }
}

.warning{
    background-color: $warning-color;
    color: $white-color;
    border: none;


    &:hover {
        background-color: $warning-secondary-color;
        color: $white-color;
    }

    &:active {
        background-color: $warning-secondary-color;
        color: $white-color;
    }

    &:visited {
        background-color: $warning-secondary-color ;
        color: $white-color;    
    }
}

.success {
    background-color: $success-color;
    color: $white-color;
    border: none;


    &:hover {
        background-color: $success-secondary-color;
        color: $white-color;
    }

    &:active {
        background-color: $success-secondary-color;
        color: $white-color;
    }

    &:visited {
        background-color: $success-secondary-color ;
        color: $white-color;    
    }
}